// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#season {
  color: red;
}

#random_number {
  color: green;
  font-weight: bold;
}

#random_welcome {
  color: #0000CD;
  font-style: italic;
}

#count {
  color: #CC0099;
}
