<% provide(:title, "About us") %>
<h1>About us</h1>
<p>Yeah</p>
<p>
	<!-- Following opens up the email-Application like Outlook -->
	<a href="mailto:derekbanas@example.com?
	Subject=I%20need%20help">Contact for help</a>
</p>
