<% provide(:title, "Welcome") %>
<h1>Home</h1>
<p>Welcome to our home page</p>
<!-- call Helper Function -->
<p id="season"><%= get_season() %></p>
<p id="random_number"><%= get_random_number(1000) %></p>  
<p id="random_welcome"><%= get_random_welcome() %></p>  
<p id="count"><%= count_to_ten() %></p> 

<!-- Darstellung im yield-Bereich in application.html.erb in app/views/layout -->